body {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

div {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}
.button {
  padding: 10px;
  background: linear-gradient(to right, #2c3e50, #3498db);
  color: white;
  margin-top: 50px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.button:hover {
  color: #e74c3c;
}
